*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#FFD52E;

    font-family:'Segoe UI',sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.container{

    width:700px;

    background:white;

    border-radius:35px;

    padding:40px;

    text-align:center;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.15);
}

h1{

    color:#2d3748;

    margin-bottom:15px;

    font-size:48px;
}

.subtitle{

    color:#666;

    margin-bottom:30px;

    font-size:20px;
}

.result-box{

    background:#f4f4f4;

    border-radius:25px;

    padding:35px;

    margin-bottom:25px;
}

.emoji{

    font-size:120px;
}

.result-box h2{

    font-size:42px;

    color:#1f2937;

    margin-top:10px;
}

hr{

    margin:25px 0;
    border:none;
    border-top:1px solid #ddd;
}

.upload-section{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;
}

.preview{

    width:120px;

    height:120px;

    object-fit:cover;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.2);
}

input[type=file]{

    margin-bottom:15px;
}

button{

    background:#3F46FF;

    color:white;

    border:none;

    padding:18px 35px;

    border-radius:50px;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    transform:scale(1.05);

    background:#2d35ff;
}