<!DOCTYPE html>
<html>
<head>
    <title>AI Gesture Mirror</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🤖 AI Gesture Mirror 📸</h1>

    <p class="subtitle">
        Upload a hand gesture and let AI identify it instantly!
    </p>

    {% if prediction %}

    <div class="result-box">

        <div class="emoji">
            {% if prediction == "Palm" %}🖐
            {% elif prediction == "L" %}🤟
            {% elif prediction == "Fist" %}✊
            {% elif prediction == "Fist Moved" %}👊
            {% elif prediction == "Thumb" %}👍
            {% elif prediction == "Index" %}☝
            {% elif prediction == "OK" %}👌
            {% elif prediction == "Palm Moved" %}🖐
            {% elif prediction == "C" %}🤏
            {% elif prediction == "Down" %}👇
            {% endif %}
        </div>

        <h2>{{ prediction }}</h2>

    </div>

    {% endif %}

    <hr>

    <div class="upload-section">

        {% if image_path %}
            <img src="{{ image_path }}" class="preview">
        {% endif %}

        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="image" required>

            <button type="submit">
                📤 Upload Hand Photo
            </button>

        </form>

    </div>

</div>

</body>
</html>